name: Update README

on:
  push:
    paths:
      - 'problems.txt' # 이 파일이 바뀔 때만 실행됨

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.x'

    - name: Run script
      run: python update_readme.py

    - name: Commit and Push changes
      run: |
        git config --global user.name "GitHub Action"
        git config --global user.email "action@github.com"
        git add README.md
        git commit -m "Auto-update README with problem links" || echo "No changes to commit"
        git push